@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Quicksand:400,700&display=swap");

/* font-family: 'Quicksand', sans-serif;
font-family: 'EB Garamond', serif; */

/* ------GENERAL STYLES----- */

html {
  scroll-behavior: smooth;
  max-width: 100%;
  padding: 0;
  margin: 0;
}


body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  /* font-family: 'EB Garamond', serif; */
  color: #1c1515;
  font-size: 16px;
  max-width: 100%;
  /* border:3px solid orange; */
}
main {
  max-width: 100%;
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 100px;
  font-weight: 300;
}

h2 {
  font-family: "EB Garamond", serif;
  font-size: 57px;
  letter-spacing: 1.4px;
  margin-top: 100px;
  margin-bottom: 60px;
  font-weight: 300;
}

/* .flex-container{
	display:flex;} */

.color-dot {
  color: #d0021b;
  letter-spacing: 2.3px;
}

.section {
  min-height: 30vh;
  /* display:flex;
	align-items:center; */
  /* border:3px solid yellow; */
  width: (100%-3px);
}

/* .project{
	width: 576px;
	height: 410px;
} */

p {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: 1.4px;
}

/*---------Specific Styles------------*/

/* ----------NAV-BAR------------- */

nav {
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw; /* Full width */
  background-color: #ffffff;
  /* border: 3px solid orange; */
}

nav .navbar-brand {
  flex-grow: 1;
  /* border:3px solid orange; */
  padding: 10px;
  text-decoration: none;
  color: #1c1515;
}

nav .navbar-brand .color-dot {
  font-size: 24px;
}

nav .navbar-brand .color-dot.current {
  background: black;
}

nav ul {
  width: 50%;
  display: flex;
  /* border:3px solid green; */
  justify-content: space-evenly;
  padding: 20px 0 20px 0;
  margin: 0;
}

nav li {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li a {
  text-decoration: none;
  text-align: center;
  color: #1c1515;
  cursor: pointer;
}

/* ----------HEADER------------- */

.header-flex-container {
  /* border:3px solid purple; */
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-flex-child {
  /* border:3px solid orange; */
  padding: 0;
  margin: 0;
  width: 100%;
}

.header-flex-child h2 {
  padding: 0;
  margin: 0;
}

.main-header-section {
  display: flex;
  flex-direction: column;
  padding: 15px 0 15px  0;
  margin-top: 10%;
}

.header-description {
  display: block;
  /* justify-items: flex-end; */
}

/* -------------ABOUT------------------- */

.about-section {
  padding: 15px 0 15px  0;
  background-color: #fafafa


}

/* -------------WORKS------------------- */

.works-section {
  padding: 15px 0 15px  0;
  display: flex;
  flex-direction: column

}

.works-section .container {
  display: flex;
   align-items: center;
  /* text-align: center;  */
  width: 100%;
  flex-wrap: wrap;

  /* border:3px solid green; */
}

.works-section h2 {
  text-align: left;
  display: block;
  width: 100%;
  /* border:3px solid purple; */
}

.works-section .container article img {
  min-width: 300px;
  max-width: 600px;
  width: 50%;
  /* border:3px solid red; */
}

.row-1 {
  /* border: 4px solid #1c1515; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.row-2 {
  /* border: 4px solid #1c1515; */
  width: 100%;
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/* -------------LET'S SPEAK - FOOTER------------------- */

#letstalk {
  padding: 15px 0 10% 0;
  display: flex;
  width: 100%;
  background-color: #fafafa;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid purple;
}


footer .flex-container {
  display: flex;
  width: 100%;
  max-width: 450px;
  justify-content: space-between;
  font-family: "Quicksand", sans-serif;
  padding: 0px;

}

footer .flex-container li {
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: 3px;
}

/* ---------- MEDIA QUERIES FOR BIGGER SCREENS--------------- */
@media only screen and (min-width: 825px) {
  .section {
    min-height: 30vh;
    display: flex;
    align-items: center;
    margin: 0 auto 0 auto; 
    width: 90%;
  }

  .col-2 {
    width: 50%;
  }
  .works-section .container article img {
    width: 100%;
  }
  .row-1 {
    width: 100%;

  }
  .row-2 {
  width: 50%;
  margin-top: 30px;
  }

  /*---------Specific Styles------------*/

  /* ----------HEADER------------- */

  .header-flex-container {
    /* border: 3px solid purple; */
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .header-flex-child {
    /* border: 3px solid orange; */
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .header-flex-child h2 {
    padding: 0;
    margin: 0;
  }

  .main-header-section {
    display: flex;
    flex-direction: column;
  }

  .header-description {
    display: flex;
    justify-items: flex-end;
  }
}
